---
title: Albertville 10ème étage - 2019
description: Photographies réalisées depuis un dixième étage à Albertville durant l’année 2019
layout: libdoc_page.liquid
permalink: "{{ libdocConfig.blogSlug }}/{{ page.fileSlug }}/index.html"
ogImageUrl: "https://cdn.jsdelivr.net/gh/olivier3lanc/cinematics-resources@master/albertville-10e-etage-2019.avif"
tags:
    - post
    - albertville-10eme-etage
date: 2019-12-31
data:
    -   url: "/sources/blog/albertville/20191231_171146.jpg"
        title: "2019-12-31 Coucher de soleil sur la Combe de Savoie"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20191003_191945_2.jpg"
        title: "2019-10-03 Coucher de soleil sur les Bauges"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20190930_194451_1.jpg"
        title: "2019-09-30 Coucher de soleil sur la Combe de Savoie"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20190929_174850_1.jpg"
        title: "2019-09-29 Nuages et ciel bleu"
        class: "long-shadow"
    -   url: "/sources/blog/albertville/20190928_194157.jpg"
        title: "2019-09-28 Coucher de soleil sur les Bauges 2"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20190928_194133_1.jpg"
        title: "2019-09-28 Coucher de soleil sur les Bauges 1"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20190924_073908.jpg"
        title: "2019-09-24 Lever de soleil sur les Bauges"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20190918_071204_1.jpg"
        title: "2019-09-18 Lever de soleil sur la Tarentaise 2"
        class: "long-shadow"
    -   url: "/sources/blog/albertville/20190918_071143.jpg"
        title: "2019-09-18 Lever de soleil sur la Tarentaise 1"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20190913_201540_1.jpg"
        title: "2019-09-13 Coucher de soleil sur les Bauges"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20190820_203434_1.jpg"
        title: "2019-08-20 Coucher de soleil sur la Combe de Savoie"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20190713_224640-01.jpeg"
        title: "2019-07-13 Feux d’artifices"
        class: "long-shadow"
    -   url: "/sources/blog/albertville/20190712_202547.jpg"
        title: "2019-07-12 Arc-en-ciel sur Conflans"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20190707_213300_PANO.jpg"
        title: "2019-07-07 Coucher de soleil sur les Bauges 2"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20190707_213028.jpg"
        title: "2019-07-07 Coucher de soleil sur les Bauges 1"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20190701_214148.jpg"
        title: "2019-07-01 Orage sur la Combe de Savoie"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20190623_212228.jpg"
        title: "2019-06-23 Coucher de soleil sur les Bauges"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20190528_203116.jpg"
        title: "2019-05-28 Orage sur les Bauges"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20190429_074350.jpg"
        title: "2019-04-29 Le massif des Bauges dans les nuages 2"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20190429_073008.jpg"
        title: "2019-04-29 Le massif des Bauges dans les nuages 1"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20190408_194541.jpg"
        title: "2019-04-08 Nuages"
        class: "long-shadow"
    -   url: "/sources/blog/albertville/20190404_102243.jpg"
        title: "2019-04-04 Chutes de neige sur Conflans"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20190324_074931.jpg"
        title: "2019-03-24 La mouche"
        class: "long-shadow"
    -   url: "/sources/blog/albertville/20190307_182420.jpg"
        title: "2019-03-07 Coucher de soleil sur la Combe de Savoie"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20190208_175628.jpg"
        title: "2019-02-08 Coucher de soleil sur la Combe de Savoie"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20190130_155120.jpg"
        title: "2019-01-30 Sommets enneigés sur la Tarentaise en noir et blanc"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20190130_082307.jpg"
        title: "2019-01-30 Chutes de neige"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20190110_094540_Pano.jpg"
        title: "2019-01-10 Lever de soleil sur les Bauges"
        class: "wide long-shadow"
---
{% for item in data %}
    <h2>{{ item.title|default: item.url }}</h2>
    {% if item.url contains 'https://www.youtube' %}
        {{ item.url | embed }}
    {% else %}
        <figure class="{{ item.class|default: '' }}">
            {% if item.url contains '/assets/videos/' %}
                <video  src="{{ item.url }}"
                        poster="{{ item.url|replace: '.mp4', '.jpg' }}" controls></video>
            {% else %}
                <img    src="{{ item.url }}"
                        alt="{{ item.title|default: item.url }}">
            {% endif %}
            <figcaption>
                {{ item.title|default: item.url }}
            </figcaption>
        </figure>
    {% endif %}
{% endfor %}

<nav class="d-flex jc-space-between | mt-10">
    <a href="/content/blog/albertville-10eme-etage-2018.html" class="btn"><span class="icon-caret-left"></span> 2018</a>
    <a href="/content/blog/albertville-10eme-etage-2020.html" class="btn">2020 <span class="icon-caret-right"></span></a>
</nav>