---
title: Albertville 10ème étage - 2018
description: Photographies réalisées depuis un dixième étage à Albertville durant l’année 2018
layout: libdoc_page.liquid
permalink: "{{ libdocConfig.blogSlug }}/{{ page.fileSlug }}/index.html"
ogImageUrl: "https://raw.githubusercontent.com/olivier3lanc/cinematics-resources/refs/heads/master/2026-01-11-panoramique-albertville-noir-et-blanc-EMGra1Kjhi-__1400__.webp"
tags:
    - post
    - albertville-10eme-etage
date: 2018-12-31
data:
    -   url: "/sources/blog/albertville/20181129_073139.jpg"
        title: "2018-11-29 Lever de soleil sur la Tarentaise"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20181111_081800.jpg"
        title: "2018-11-11 Lever de soleil sur les Bauges"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20181015_074927.jpg"
        title: "2018-10-15 Lever de soleil sur la Tarentaise 3"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20181015_074856.jpg"
        title: "2018-10-15 Lever de soleil sur la Tarentaise 2"
        class: "long-shadow"
    -   url: "/sources/blog/albertville/20181015_074417.jpg"
        title: "2018-10-15 Lever de soleil sur la Tarentaise 1"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20180829.jpeg"
        title: "2018-08-29 Orage sur la Combe de Savoie"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20180821_201800.jpg"
        title: "2018-08-21 Coucher de soleil sur les Bauges"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20180813_204146.jpg"
        title: "2018-08-13 Coucher de soleil sur les Bauges 3"
        class: "long-shadow"
    -   url: "/sources/blog/albertville/20180813_203800_1.jpg"
        title: "2018-08-13 Coucher de soleil sur les Bauges 2"
        class: "long-shadow"
    -   url: "/sources/blog/albertville/20180813_203714_1.jpg"
        title: "2018-08-13 Coucher de soleil sur les Bauges 1"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20180813_203356_1.jpg"
        title: "2018-08-13 Arc-en-ciel sur Conflans 2"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20180813_203243_Pano.jpg"
        title: "2018-08-13 Arc-en-ciel sur Conflans 1"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20180813_190703.jpg"
        title: "2018-08-13 Orage sur la Combe de Savoie"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20180801_210232.jpg"
        title: "2018-08-01 Orage sur la Tarentaise"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20180801_203758.jpg"
        title: "2018-08-01 Ciel nuageux sur les Bauges 2"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20180801_203716_Pano.jpg"
        title: "2018-08-01 Ciel nuageux sur les Bauges 1"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20180717_205849.jpg"
        title: "2018-07-17 Rayons crépusculaires sur les Bauges"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20180715_211528.jpg"
        title: "2018-07-15 Coucher de soleil sur les Bauges 2"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20180715_211453.jpg"
        title: "2018-07-15 Coucher de soleil sur les Bauges 2"
        class: "long-shadow"
    -   url: "/sources/blog/albertville/20180715_211418.jpg"
        title: "2018-07-15 Coucher de soleil sur les Bauges 1"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20180713_224529-01.jpeg"
        title: "2018-07-13 Feux d’artifices"
        class: "long-shadow"
    -   url: "/sources/blog/albertville/20180713_211215.jpg"
        title: "2018-07-13 Coucher de soleil sur les Bauges"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20180710_062950.jpg"
        title: "2018-07-10 Nuages"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20180507_180706_1.jpg"
        title: "2018-05-07 Orage et rayons crépusculaires sur les Bauges"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20180210_174117.jpg"
        title: "2018-02-10 Coucher de soleil sur la Combe de Savoie"
        class: "wide long-shadow"
---
{% for item in data %}
    <h2>{{ item.title|default: item.url }}</h2>
    {% if item.url contains 'https://www.youtube' %}
        {{ item.url | embed }}
    {% else %}
        <figure class="{{ item.class|default: '' }}">
            {% if item.url contains '/assets/videos/' %}
                <video  src="{{ item.url }}"
                        poster="{{ item.url|replace: '.mp4', '.jpg' }}" controls></video>
            {% else %}
                <img    src="{{ item.url }}"
                        alt="{{ item.title|default: item.url }}">
            {% endif %}
            <figcaption>
                {{ item.title|default: item.url }}
            </figcaption>
        </figure>
    {% endif %}
{% endfor %}
