---
title: Albertville 10ème étage - 2017
description: Photographies réalisées depuis un dixième étage à Albertville durant l’année 2017
layout: libdoc_page.liquid
permalink: "{{ libdocConfig.blogSlug }}/{{ page.fileSlug }}/index.html"
ogImageUrl: "https://raw.githubusercontent.com/olivier3lanc/cinematics-resources/refs/heads/master/2026-01-11-panoramique-albertville-noir-et-blanc-EMGra1Kjhi-__1400__.webp"
tags:
    - post
    - albertville-10eme-etage
date: 2017-12-31
data:
    -   url: "/sources/blog/albertville/20171004-WA0057.jpg"
        title: "2017-10-04 Coucher de soleil sur les Bauges 3"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20171004-WA0054.jpg"
        title: "2017-10-04 Coucher de soleil sur les Bauges 2"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20171004_192402.jpg"
        title: "2017-10-04 Coucher de soleil sur les Bauges 1"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20170810_203730.jpg"
        title: "2017-08-10 Coucher de soleil nuageux sur la Tarentaise"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20170720_192504-01.jpeg"
        title: "2017-07-20 Soleil et pluie pendant l’orage sur les Bauges"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20170710_195238_Pano.jpg"
        title: "2017-07-10 Panoramique nuages sur le massif des Bauges"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20170630_082535_Pano.jpg"
        title: "2017-06-30 Panoramique nuages sur le massif des Bauges"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20170508_1190658604288811.jpeg"
        title: "2017-04-10 Panoramique orage et rayons crépusculaires sur les Bauges"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20170508_1143027862385219.jpeg"
        title: "2017-05-08 Orage et éclair sur les Bauges"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20170411_070520-01.jpeg"
        title: "2017-04-11 Panoramique de nuages rougeoyants sur la Tarentaise"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20170410_201625-01.jpeg"
        title: "2017-04-10 Panoramique de nuages rougeoyants sur les Bauges"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20170410_190754-02.jpeg"
        title: "2017-04-10 Panoramique rayons crépusculaires sur les Bauges"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20170115_121800.jpg"
        title: "2017-01-15 Panoramique hivernal sur la Tarentaise"
        class: "wide long-shadow"
---
{% for item in data %}
    <h2>{{ item.title|default: item.url }}</h2>
    {% if item.url contains 'https://www.youtube' %}
        {{ item.url | embed }}
    {% else %}
        <figure class="{{ item.class|default: '' }}">
            {% if item.url contains '/assets/videos/' %}
                <video  src="{{ item.url }}"
                        poster="{{ item.url|replace: '.mp4', '.jpg' }}" controls></video>
            {% else %}
                <img    src="{{ item.url }}"
                        alt="{{ item.title|default: item.url }}">
            {% endif %}
            <figcaption>
                {{ item.title|default: item.url }}
            </figcaption>
        </figure>
    {% endif %}
{% endfor %}
