---
title: Albertville 10ème étage - 2020
description: Photographies réalisées depuis un dixième étage à Albertville durant l’année 2020
layout: libdoc_page.liquid
permalink: "{{ libdocConfig.blogSlug }}/{{ page.fileSlug }}/index.html"
ogImageUrl: "https://cdn.jsdelivr.net/gh/olivier3lanc/cinematics-resources@master/albertville-10e-etage-2020.avif"
tags:
    - post
    - albertville-10eme-etage
date: 2020-12-31
data:
    -   url: "/sources/blog/albertville/20201203_090905.jpg"
        title: "2020-12-03 Lune sur les pentes de la Belle Étoile"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20201122_174612_1.jpg"
        title: "2020-11-22 Nuages"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20201115_073052.jpg"
        title: "2020-10-15 Lever de soleil sur la Tarentaise"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20201011_181924-01_1.jpeg"
        title: "2020-10-11 Sommets enneigés sur la Tarentaise"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20201003_100640.jpg"
        title: "2020-10-03 Matinée sur le massif des Bauges enneigé 2"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20201003_094220.jpg"
        title: "2020-10-03 Matinée sur le massif des Bauges enneigé 1"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20200924_135950.jpg"
        title: "2020-09-24 Hirondelle"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20200730_214250-01.jpeg"
        title: "2020-07-30 Orage et éclairs sur Conflans"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20200730_212041-01.jpeg"
        title: "2020-07-30 Coucher de soleil sur les Bauges"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20200730_210233_Pano.jpg"
        title: "2020-07-30 Fin de journée d’été sur les Bauges"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20200728_201704.jpg"
        title: "2020-07-28 Rayons crépusculaires sur les Bauges"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20200709_213229.jpg"
        title: "2020-07-09 Coucher de soleil sur les Bauges"
        class: "wide long-shadow"
---
{% for item in data %}
    <h2>{{ item.title|default: item.url }}</h2>
    {% if item.url contains 'https://www.youtube' %}
        {{ item.url | embed }}
    {% else %}
        <figure class="{{ item.class|default: '' }}">
            {% if item.url contains '/assets/videos/' %}
                <video  src="{{ item.url }}"
                        poster="{{ item.url|replace: '.mp4', '.jpg' }}" controls></video>
            {% else %}
                <img    src="{{ item.url }}"
                        alt="{{ item.title|default: item.url }}">
            {% endif %}
            <figcaption>
                {{ item.title|default: item.url }}
            </figcaption>
        </figure>
    {% endif %}
{% endfor %}

<nav class="d-flex jc-space-between | mt-10">
    <a href="/content/blog/albertville-10eme-etage-2019.html" class="btn"><span class="icon-caret-left"></span> 2019</a>
    <a href="/content/blog/albertville-10eme-etage-2021.html" class="btn">2021 <span class="icon-caret-right"></span></a>
</nav>