---
title: Albertville 10ème étage - 2024
description: Photographies réalisées depuis un dixième étage à Albertville durant l’année 2024
layout: libdoc_page.liquid
permalink: "{{ libdocConfig.blogSlug }}/{{ page.fileSlug }}/index.html"
ogImageUrl: "https://raw.githubusercontent.com/olivier3lanc/cinematics-resources/refs/heads/master/2026-01-11-panoramique-albertville-noir-et-blanc-EMGra1Kjhi-__1400__.webp"
tags:
    - post
    - albertville-10eme-etage
date: 2024-12-31
data:
    -   url: "/sources/blog/albertville/20241125_164153.jpg"
        title: "2024-11-25 Coucher de soleil sur la Combe de Savoie"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20241013_190926.jpg"
        title: "2024-10-13 Chauve-souris devant un coucher de soleil sur les Bauges"
        class: "long-shadow"
    -   url: "/sources/blog/albertville/20240904_081625-01_PANO.jpeg"
        title: "2024-09-04 Arc-en-ciel sur les Bauges"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20240606_205732_edit_17600287708251.jpg"
        title: "2024-06-06 Rayons crépusculaires sur la Belle Étoile"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20240501_133135.jpg"
        title: "2024-05-01 Punaise à pattes de feuilles"
        class: "wide long-shadow"
---
{% for item in data %}
    <h2>{{ item.title|default: item.url }}</h2>
    {% if item.url contains 'https://www.youtube' %}
        {{ item.url | embed }}
    {% else %}
        <figure class="{{ item.class|default: '' }}">
            {% if item.url contains '/assets/videos/' %}
                <video  src="{{ item.url }}"
                        poster="{{ item.url|replace: '.mp4', '.jpg' }}" controls></video>
            {% else %}
                <img    src="{{ item.url }}"
                        alt="{{ item.title|default: item.url }}">
            {% endif %}
            <figcaption>
                {{ item.title|default: item.url }}
            </figcaption>
        </figure>
    {% endif %}
{% endfor %}
