---
title: Albertville 10ème étage - 2022
description: Photographies réalisées depuis un dixième étage à Albertville durant l’année 2022
layout: libdoc_page.liquid
permalink: "{{ libdocConfig.blogSlug }}/{{ page.fileSlug }}/index.html"
ogImageUrl: "https://raw.githubusercontent.com/olivier3lanc/cinematics-resources/refs/heads/master/2026-01-11-panoramique-albertville-noir-et-blanc-EMGra1Kjhi-__1400__.webp"
tags:
    - post
    - albertville-10eme-etage
date: 2022-12-31
data:
    -   url: "/assets/videos/albertville-depuis-la-fenetre/20221001_ballet_hirondelles.mp4"
        title: "2022-10-01 Ballet d’hirondelles"
        class: "long-shadow"
    -   url: "/sources/blog/albertville/20220915_080533.jpg"
        title: "2022-09-15 Lever de soleil sur la Belle Étoile"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20220719_212408.jpg"
        title: "2022-07-19 Coucher de soleil sur les Bauges"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20220703_213101.jpg"
        title: "2022-07-03 Coucher de soleil sur les Bauges"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20220623_212005.jpg"
        title: "2022-06-23 Coucher de soleil sur les Bauges"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20220609_184141-01.jpeg"
        title: "2022-06-09 Versants de Pallud"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20220509_203652.jpg"
        title: "2022-05-09 Rayons crépusculaires sur les Bauges"
        class: "wide long-shadow"
---
{% for item in data %}
    <h2>{{ item.title|default: item.url }}</h2>
    {% if item.url contains 'https://www.youtube' %}
        {{ item.url | embed }}
    {% else %}
        <figure class="{{ item.class|default: '' }}">
            {% if item.url contains '/assets/videos/' %}
                <video  src="{{ item.url }}"
                        poster="{{ item.url|replace: '.mp4', '.jpg' }}" controls></video>
            {% else %}
                <img    src="{{ item.url }}"
                        alt="{{ item.title|default: item.url }}">
            {% endif %}
            <figcaption>
                {{ item.title|default: item.url }}
            </figcaption>
        </figure>
    {% endif %}
{% endfor %}
