---
title: Albertville 10ème étage - 2023
description: Photographies réalisées depuis un dixième étage à Albertville durant l’année 2023
layout: libdoc_page.liquid
permalink: "{{ libdocConfig.blogSlug }}/{{ page.fileSlug }}/index.html"
ogImageUrl: "https://raw.githubusercontent.com/olivier3lanc/cinematics-resources/refs/heads/master/2026-01-11-panoramique-albertville-noir-et-blanc-EMGra1Kjhi-__1400__.webp"
tags:
    - post
    - albertville-10eme-etage
date: 2023-12-31
data:
    -   url: "/sources/blog/albertville/20231129_082840.jpg"
        title: "2023-11-29 Lune sur les crêtes de la Belle Étoile"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20231111_085211_PANO.jpg"
        title: "2023-11-11 Lever de soleil sur les Bauges"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20231110_141113.jpg"
        title: "2023-11-10 Le massif des Bauges enneigé"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20230725_193123_edit_9643035182381.jpg"
        title: "2023-07-25 Arc-en-ciel sur Conflans"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20230701_092011_edit_1785752572643.jpg"
        title: "2023-07-01 Les Bauges dans les nuages noir et blanc"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20230622_191030.jpg"
        title: "2023-06-22 Arc-en-ciel sur Conflans"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20230608_065845-01.jpeg"
        title: "2023-06-08 Nuages"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20230113_163840.jpg"
        title: "2023-01-13 Coucher de soleil sur la Combe de Savoie"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20230111_075415.jpg"
        title: "2023-01-11 Lever de soleil sur la Tarentaise"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20230102_080848.jpg"
        title: "2023-01-02 Lever de soleil sur la Tarentaise 2"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20230102_080405.jpg"
        title: "2023-01-02 Lever de soleil sur la Tarentaise 1"
        class: "wide long-shadow"
---
{% for item in data %}
    <h2>{{ item.title|default: item.url }}</h2>
    {% if item.url contains 'https://www.youtube' %}
        {{ item.url | embed }}
    {% else %}
        <figure class="{{ item.class|default: '' }}">
            {% if item.url contains '/assets/videos/' %}
                <video  src="{{ item.url }}"
                        poster="{{ item.url|replace: '.mp4', '.jpg' }}" controls></video>
            {% else %}
                <img    src="{{ item.url }}"
                        alt="{{ item.title|default: item.url }}">
            {% endif %}
            <figcaption>
                {{ item.title|default: item.url }}
            </figcaption>
        </figure>
    {% endif %}
{% endfor %}
