---
title: Albertville 10ème étage - 2021
description: Photographies réalisées depuis un dixième étage à Albertville durant l’année 2021
layout: libdoc_page.liquid
permalink: "{{ libdocConfig.blogSlug }}/{{ page.fileSlug }}/index.html"
ogImageUrl: "https://raw.githubusercontent.com/olivier3lanc/cinematics-resources/refs/heads/master/2026-01-11-panoramique-albertville-noir-et-blanc-EMGra1Kjhi-__1400__.webp"
tags:
    - post
    - albertville-10eme-etage
date: 2021-12-31
data:
    -   url: "/sources/blog/albertville/20211210_120020.jpg"
        title: "2021-12-10 Chutes de neige"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20211105_121135-02.jpeg"
        title: "2021-11-05 Journée d’automne sur Conflans noir et blanc"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20211105_121135-01.jpeg"
        title: "2021-11-05 Journée d’automne sur Conflans"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20210917_080103.jpg"
        title: "2021-09-17 Lever de soleil sur les Bauges"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20210419_084644.jpg"
        title: "2021-04-19 Brochette d’hirondelles"
        class: "long-shadow"
    -   url: "/sources/blog/albertville/20210418_093508_edit_739055359262.jpg"
        title: "2021-04-18 Hirondelle"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20210416_084329.jpg"
        title: "2021-04-16 Hirondelles"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20210416_081344_edit_8764091729912.jpg"
        title: "2021-04-16 Hirondelles des fenêtres"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20210308_165521.jpg"
        title: "2021-03-08 Orage et rayons crépusculaires sur la Combe de Savoie"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20210222_071512.jpg"
        title: "2021-02-22 Lever de soleil sur la Tarentaise"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20210213_083142-01.jpg"
        title: "2021-02-13 Lever de soleil sur les sommets"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20210206_102310.jpg"
        title: "2021-02-06 Sable du Sahara"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20210120_080203.jpg"
        title: "2021-01-20 Lever de soleil sur la Combe de Savoie"
        class: "wide long-shadow"
    -   url: "/sources/blog/albertville/20210104_133718.jpg"
        title: "2021-01-04 La Belle Étoile enneigée"
        class: "wide long-shadow"
---
{% for item in data %}
    <h2>{{ item.title|default: item.url }}</h2>
    {% if item.url contains 'https://www.youtube' %}
        {{ item.url | embed }}
    {% else %}
        <figure class="{{ item.class|default: '' }}">
            {% if item.url contains '/assets/videos/' %}
                <video  src="{{ item.url }}"
                        poster="{{ item.url|replace: '.mp4', '.jpg' }}" controls></video>
            {% else %}
                <img    src="{{ item.url }}"
                        alt="{{ item.title|default: item.url }}">
            {% endif %}
            <figcaption>
                {{ item.title|default: item.url }}
            </figcaption>
        </figure>
    {% endif %}
{% endfor %}
