---
title: Albertville 10ème étage - 2014
description: Photographies réalisées depuis un dixième étage à Albertville durant l’année 2014
layout: libdoc_page.liquid
permalink: "{{ libdocConfig.blogSlug }}/{{ page.fileSlug }}/index.html"
ogImageUrl: "https://cdn.jsdelivr.net/gh/olivier3lanc/cinematics-resources@master/albertville-10e-etage-2014.avif"
tags:
    - post
    - albertville-10eme-etage
date: 2014-12-31
data:
    -   url: "/sources/paysages/pluie/[Group 1]-_MG_9761__MG_9769-9 images.jpg"
        title: "2014-05-13 Pluie et soleil sur Albertville et les Bauges"
        class: "wide long-shadow"
    -   url: "/sources/paysages/ete/albertville-ete_MG_9686__MG_9698-13-images.jpg"
        title: "2014-05-11 Panorama d’Albertville, la Combe de Savoie et les Bauges"
        class: "wide long-shadow"
---
{% for item in data %}
    <h2>{{ item.title|default: item.url }}</h2>
    {% if item.url contains 'https://www.youtube' %}
        {{ item.url | embed }}
    {% else %}
        <figure class="{{ item.class|default: '' }}">
            {% if item.url contains '/assets/videos/' %}
                <video  src="{{ item.url }}"
                        poster="{{ item.url|replace: '.mp4', '.jpg' }}" controls></video>
            {% else %}
                <img    src="{{ item.url }}"
                        alt="{{ item.title|default: item.url }}">
            {% endif %}
            <figcaption>
                {{ item.title|default: item.url }}
            </figcaption>
        </figure>
    {% endif %}
{% endfor %}

<nav class="d-flex jc-space-between | mt-10">
    <span></span>
    <a href="/content/blog/albertville-10eme-etage-2015.html" class="btn">2015 <span class="icon-caret-right"></span></a>
</nav>